<!DOCTYPE html>
<html>
  <head>
      <script>
        function downloadContact() {
          if(confirm('Do you want to download the contact?')){
            var link = document.createElement("a");
            link.setAttribute("href", "<%= filename %>");
            link.setAttribute("download", "contact.vcf");
            link.click();
          }
        }
    </script>
    <script>
        function sendEmail() {
          var link = document.createElement("a");
          link.setAttribute("href", "mailto:<%= email %>?subject=Email%20Subject&body=Email%20Body");
        //   link.setAttribute("href", "mailto:moisesnj@gmail.com?subject=Email%20Subject&body=Email%20Body");
          link.click();
        }
    </script>
    <script>
        function sendSMS() {
          var link = document.createElement("a");
          link.setAttribute("href", "sms:<%= phone %>");
          link.click();
        }
    </script>
    <script>
        function facebook() {
          var link = document.createElement("a");
          link.setAttribute("href", "<%= facebook %>");
          link.click();
        }
    </script>
    <script>
        function openWhatsApp() {
          var link = document.createElement("a");
          link.setAttribute("href", "whatsapp://send?<%= whatsapp %>");
          link.click();
        }
    </script>
    <script>
      function makeCall() {
        var link = document.createElement("a");
        link.setAttribute("href", "tel:<%= phone %>");
        link.click();
      }
    </script>
    <script>
        function instagram() {
          var link = document.createElement("a");
          link.setAttribute("href", "<%= instagram %>");
          link.click();
        }
    </script>
    <script>
        function linkedin() {
          var link = document.createElement("a");
          link.setAttribute("href", "<%= linkedin %>");
          link.click();
        }
    </script>
    
    <script>
      window.onload = function() {
        var modal = document.getElementById("welcome-modal");
        modal.style.display = "block";
      }
      function closeModal() {
        var modal = document.getElementById("welcome-modal");
        modal.style.display = "none";
      }
    </script>

    <script>
        var text = document.getElementById("text");
        var container = text.parentElement;

        function resizeText() {
        while (text.offsetWidth > container.offsetWidth) {
            text.style.fontSize = (parseInt(text.style.fontSize) - 1) + "px";
        }
        }

        resizeText();
        window.addEventListener("resize", resizeText);
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>
        
        .modal {
            position: absolute; /* fixed position */
            z-index: 9999; /* a high value */   
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            
            left: -6px;
            top: 0;
            width: 300px; /* Full width */
            height: 400px; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(19, 23, 23, 0.81); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            border-radius: 10px; /* add rounded corners */
            animation: pop-up 0.5s ease-in-out; /* add animation */
            animation-fill-mode: forwards;
          }
          /* add keyframe animation for the pop-up effect */
        @keyframes pop-up {
            from {transform: scale(0);}
            to {transform: scale(1);}
        }
        @keyframes pop-up-reverse {
            from {transform: scale(1);}
            to {transform: scale(0);}
        }
          /* Modal Content */
          .modal-content {
            border-radius: 10px; 
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
          }
          /* The Close Button */
          .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
          }
          .close:hover,
          .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
          }

        
        body {
          /* min-width: 600px; */
        }
        .gridbox1 {
            margin-top: 10px;
        }
        .gridbox2 {
            margin-top: 70px;
        }
        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          position: relative;
        }
        .banner {
          background-image: url("https://moiravirtualassistant.com/vcard/moisesmari/headerimage2.png");
          background-size: cover;
          height: 100px;
          width: 293px;
          position: absolute;
          margin-top: 40px;
          top: 0;
          /* left: 0; */
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
        }

        .solo {
            border-radius: 50%;
            border: 3px solid white;
        }

        .profile-picture {
          width: 101px;
          height: 101px;
          border-radius: 50%;
          position: absolute;
          top: 90%;
          /* left: 49.3%; */
          left: 18.3%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
        .profile-picture img {
          width: 100%;
          height: 100%;
        }
        
        .grid {
          display: grid;
          grid-template-columns: repeat(3, 100px);
          grid-template-rows: repeat(4, 100px);
          grid-gap: 2px;
          position: relative;
          z-index: 1;
          left:-16px;
          margin-top: 28px;
        }
        img {
          width: 80px;
          height: 80px;
          margin: 10px;
        }

        .name {
            font-family: 'Mongolian Baiti';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 52px;
            width: 184px;

            color: #010000;
            position: absolute;
            top: 106%;
            left: 201.3%;
            transform: translate(-50%, -50%);
        }

        #text {
            font-size: 32px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .name-container {
            width: 184px;
            overflow: hidden;
        }

        .phone {
            font-family: 'Mongolian Baiti';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 52px;
            width: 136px;

            color: #010000;
            position: absolute;
            top: 128%;
            left: 178.3%;
            transform: translate(-50%, -50%);
        }

        .animated-button {

            position: absolute;
            width: 50px;
            height: 50px;
            background-image: url("https://moiravirtualassistant.com/vcard/moisesmari/savecontact.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50px;
            border-radius: 50%;

            position: absolute;
            top: -32%;
            left: 227.3%;
            transform: translate(-50%, -50%);
            /* z-index: 2; */
            
            
            animation: bouncing 3s 1s infinite;
            }

            @keyframes bouncing {
            0% {
                transform: translateY(0);
            }
            25% {
                transform: translateY(-20px);
            }
            50% {
                transform: translateY(0);
            }
            75% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }

        

        @media only screen and (max-width: 820px) {
            body {
                max-width: 100%;
            }
            .grid {
                /* margin-top: -307px; */
            }
        }

        @media only screen and (max-width: 768px) {
            body {
                max-width: 100%;
            }
            .grid {
                /* margin-top: -143px; */
            }
        }

        @media only screen and (max-width: 570px) {
            body {
                max-width: 100%;
            }
            .grid {
                /* margin-top: 320px; */
            }
        }

        @media only screen and (max-width: 414px) {
            body {
                max-width: 100%;
            }
            .grid {
                /* margin-top: 0px; */
            }
        }
        
        @media only screen and (max-width: 390px) {
            body {
                max-width: 100%;
            }          

            .grid {
                /* margin-top: 47px; */
            }
            
        }

        @media only screen and (max-width: 375px) {
            body {
                    max-width: 100%;
                }
                .grid {
                    /* margin-top: 209px; */
                }
        }

        @media only screen and (max-width: 360px) {
            body {
                    max-width: 100%;
                }
                .grid {
                    /* margin-top: 121px; */
                }
        }
        
        

            
        

        
        
        
        

        /* @media only screen and (max-width: 768px) {
            body {
                max-width: 100%;
            }
            .grid {
                margin-top: -121px;
            }
        } */
        

        

        

        

        

        


    

      </style>
  </head>
<body>
    <!-- <h1>User Information CREES</h1>
    <img src="<%= image %>" alt="Profile Image">
    <p>Filename: <%= filename %></p>
    <p>Name: <%= name %></p>
    <p>Phone: <%= phone %></p>
    <p>Address: <%= address %></p>
    <p>Email: <%= email %></p>
    <p>Facebook: <%= facebook %></p>
    <p>WhatsApp: <%= whatsapp %></p>
    <p>Twitter: <%= twitter %></p>
    <p>Instagram: <%= instagram %></p>
    <p>LinkedIn: <%= linkedin %></p> -->

    <div class="center">
        
        <div class="banner">
            
            <div class="profile-picture">
                <img src="<%= image %>" class="solo" alt="profile picture">
                <button class="animated-button" onclick="downloadContact()"></button>
                <div id="welcome-modal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeModal()">&times;</span>
                        <p>Welcome! Want to connect with me?</p>
                        <form action="mailto:moisesnj@gmail.com" method="post" enctype="text/plain">
                            <input type="text" name="name" placeholder="Name" required style="border-radius:5px;">
                            <input type="email" name="email" placeholder="Email" required style="border-radius:5px;">
                            <input type="tel" name="phone" placeholder="Phone Number" required style="border-radius:5px;">
                            <textarea name="message" placeholder="Message"></textarea>
                            <input type="submit" value="Connect" style="border-radius:5px;">
                        </form>
                    </div>
                </div>
                
                <div class="gridbox1">
                    <div class="name name-container">
                        <p id="text"><%= name %></p>
                    </div>
                    <div class="phone"><%= phone %></div>
                    </div>
                    
                    <div class="grid">
                        <div class="grid-cell">
                            <img src="https://moiravirtualassistant.com/vcard/moisesmari/image-12.png" alt="icon" onclick="sendEmail()">
                        </div>
                        <div class="grid-cell">
                            <img src="https://moiravirtualassistant.com/vcard/moisesmari/image-22.png" alt="icon" onclick="sendSMS()">
                        </div>
                        <div class="grid-cell">
                            <img src="https://moiravirtualassistant.com/vcard/moisesmari/image-32.png" alt="icon" onclick="facebook()">
                        </div>
                        <div class="grid-cell">
                            <img src="https://moiravirtualassistant.com/vcard/moisesmari/image-42.png" alt="icon" onclick="openWhatsApp()">
                        </div>
                        <div class="grid-cell">
                            <img src="https://moiravirtualassistant.com/vcard/moisesmari/image-52.png" alt="icon" onclick="makeCall()">
                        </div>
                        <div class="grid-cell">
                            <img src="https://moiravirtualassistant.com/vcard/moisesmari/image-62.png" alt="icon">
                        </div>
                        <div class="grid-cell">
                            <img src="https://moiravirtualassistant.com/vcard/moisesmari/image-72.png" alt="icon" onclick="instagram()">
                        </div>
                        <div class="grid-cell">
                            <img src="https://moiravirtualassistant.com/vcard/moisesmari/image-82.png" alt="icon" onclick="linkedin()">
                        </div>
                        <!-- <div class="grid-cell">
                            <img src="image-9.png" alt="icon">
                        </div>
                        <div class="grid-cell">
                            <img src="image-1.png" alt="icon">
                        </div>
                        <div class="grid-cell">
                            <img src="image-2.png" alt="icon">
                        </div>
                        <div class="grid-cell">
                            <img src="image-3.png" alt="icon">
                        </div> -->
                </div>
            </div>
        </div>
        
        
    </div>
</body>
</html>
